.products_main_text_area {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}
.left_cart_area {
    flex: 0 0 69%;
    display: flex;
}
.right_summery_area {
    flex: 0 0 29%;
    background: rgba(255, 153, 0, 0.3);
    padding: 20px 15px 0 15px;
}
.left_send_cart {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding: 20px 30px;
    grid-gap: 23px;
}